/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "reset.css";


.reveal-1 {
  animation: reveal 3s ease-in-out forwards;
}

.reveal-2 {
  animation: reveal 3s ease-in-out forwards;
  animation-delay: 3s;
}

.reveal-3 {
  animation: reveal 3s ease-in-out forwards;
  animation-delay: 6s;
}

.reveal-4 {
  animation: last-reveal 1.5s ease-in-out forwards;
  animation-delay: 9s;
}

@keyframes reveal {
  0% {
    opacity: 0;
  } 50% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}

@keyframes last-reveal {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
